.tutorial {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
	height:500px;
	background-color: red;
}

.tutorial-gesture-right {
	background-image: url('../../images/tutorial/gestures/swipe_right.svg');
	width: 80%;
	height: 100%;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
}