@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bold_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bolditalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_italic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_light_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_medium_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_mediumitalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_regular_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_thin_macroman/stylesheet.css";
/*
 * Adding Fonts
*/
/*
 * Less includes
*/
/* Black and White */
/* Sunrise */
/* UI colors */
/* globals @White, @Black */
/*
 * Font names
 Bold: 					clear_sansbold
 BoldItalic:		clear_sansbold_italic
 Italic: 				clear_sansitalic
 Light:					clear_sans_lightregular
 Medium:				clear_sans_mediumregular
 MediumItalic:	clear_sans_mediumitalic
 Regular:				clear_sansregular
 Thin:					clear_sans_thinregular
*/
/*
 * Basic setting
*/
html {
  font-size: 100%;
}
body {
  line-height: 1.5rem;
}
/*
 * Typographic mixins
*/
/*
 * Typographic settings
*/
.t_H1 {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 2.25rem;
  letter-spacing: -0.03em;
}
.t_H2 {
  color: #0a0a0a;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1.875rem;
}
.t_H3 {
  color: #0a0a0a;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1.5rem;
}
.t_H4 {
  color: #0a0a0a;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1.25rem;
}
.t_Introduction {
  color: #f5f5f5;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1.125rem;
}
.t_Body,
.t_Input {
  color: #0a0a0a;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
.t_Button {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
.t_InputDisabled {
  color: #bbbbbb;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
.t_FormLegend {
  color: #0a0a0a;
  font-family: "clear_sans_mediumregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
/**
 * Apply a natural box layout model to all elements
**/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#cesiumContainer {
  top: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: sans-serif;
  position: absolute;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}
#app {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1980px;
  pointer-events: none;
}
/*
 * Presentation layer
*/
.p-ui-element {
  background-color: rgba(92, 40, 73, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.p-welcomebox {
  width: 510px;
  padding: 15px;
  min-height: 250px;
  background-color: rgba(92, 40, 73, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.p-welcomebox a {
  text-decoration: none;
  color: #ff733e;
}
.p-welcomebox a:hover {
  color: #f14200;
}
#slide-welcome {
  height: 270px;
}
.p-title {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 2.25rem;
  letter-spacing: -0.03em;
  text-align: center;
}
.p-paragraph {
  color: #f5f5f5;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1.125rem;
}
.p-btn {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px 0px;
  text-align: center;
  width: 155px;
  text-transform: uppercase;
}
.p-btn-succ {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px 0px;
  text-align: center;
  width: 155px;
  text-transform: uppercase;
  background-color: #34a828;
}
.p-btn-erro {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px 0px;
  text-align: center;
  width: 155px;
  text-transform: uppercase;
  background-color: #5b033b;
}
.p-search,
.p-layer-chooser {
  background-color: rgba(92, 40, 73, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px;
  color: #0a0a0a;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
.p-topography {
  background-color: rgba(92, 40, 73, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 0px 10px 10px 10px;
  color: #0a0a0a;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -moz-box-shadow: 0px 3px 0px 0px #0a0a0a;
  -webkit-box-shadow: 0px 3px 0px 0px #0a0a0a;
  box-shadow: 0px 3px 0px 0px #0a0a0a;
}
.p-btn-topography {
  -webkit-transition: all 0.3s ease;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.3s ease;
}
.topography-inactive:hover {
  background-color: #34a828;
}
.topography-active:hover {
  background-color: #5b033b;
}
.p-search {
  z-index: 3;
}
.p-layer-chooser {
  z-index: 1;
  color: #f5f5f5;
}
.cesium-baseLayerPicker-item:first-child:before {
  content: " ";
  text-align: center;
  float: none;
  width: 100%;
  display: block;
}
.cesium-baseLayerPicker-item {
  left: 0;
  width: 100%;
  float: none;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.3s ease;
}
.cesium-baseLayerPicker-item:hover {
  cursor: pointer;
  background-color: #34a828;
}
.cesium-baseLayerPicker-item:hover:before {
  background-color: green;
}
.cesium-baseLayerPicker-item:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.cesium-baseLayerPicker-itemIcon {
  display: block;
  float: left;
}
.cesium-baseLayerPicker-itemLabel {
  float: none;
}
.cesium-geocoder-input {
  padding: 10px 5px 10px 40px;
  width: 100%;
  color: #0a0a0a;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
/*
 * Layout layer
*/
.l-welcomebox {
  position: relative;
  top: 50px;
  z-index: 2;
}
.l-title {
  margin-bottom: 20px;
}
.l-paragraph {
  margin-bottom: 20px;
}
.l-welcome-btn {
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}
.l-btn {
  margin-right: 10px;
}
.l-btn:last-child {
  margin-right: 0px;
}
.l-navigation {
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 2;
}
.l-search {
  margin-top: 86px;
}
.l-topgraphy {
  text-align: center;
}
#cesiumGeocoder {
  top: 0;
  right: 0;
}
#baseLayerContainer {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 25px;
}
#baseLayerContainer button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 78px;
  margin-bottom: 50px;
}
#baseLayerContainer button img {
  display: block;
  margin-right: 0;
}
#baseLayerContainer:before {
  display: block;
  width: 100%;
  text-align: center;
  content: "Current layer: ";
  margin-bottom: 5px;
}
#baseLayerContainer:after {
  display: block;
  width: 100%;
  text-align: center;
  content: "Select layer: ";
  margin-bottom: 5px;
  position: absolute;
  margin-top: -300px;
  margin-left: -5px;
}
.cesium-geocoder-searchButton {
  position: absolute;
  margin-top: -37px;
  margin-left: 2px;
}
#menu-toggler {
  width: 82px;
  height: 82px;
  background-color: rgba(92, 40, 73, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 20px 10px;
  -webkit-transition: all 0.3s ease;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.3s ease;
  color: #0a0a0a;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -moz-box-shadow: 0px 3px 0px 0px #0a0a0a;
  -webkit-box-shadow: 0px 3px 0px 0px #0a0a0a;
  box-shadow: 0px 3px 0px 0px #0a0a0a;
  position: absolute;
  right: 0;
  z-index: 2;
}
#menu-toggler:hover {
  cursor: pointer;
  background-color: #a73e5c;
}
.menu-stripe {
  background-color: #f5f5f5;
  display: block;
  height: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tutorial-gest-rotright {
  background-image: url('../../images/tutorial/gestures/swipe_right.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: Rotate 5s infinite;
}
.tutorial-gest-zoom {
  background-image: url('../../images/tutorial/gestures/zoom.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: Zoom 5s infinite;
}
.tutorial-gest-pan {
  background-image: url('../../images/tutorial/gestures/hands.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateZ(-200px);
  /* Chrome, Safari, Opera */
  transform: translateZ(-200px);
  -webkit-animation: Pan 7s infinite;
}
.tutorial-gest-airplane {
  background-image: url('../../images/tutorial/gestures/airplane.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: Airplane 8s infinite;
}
/**
 * Gesture introduction tutorial
 * Sweetly done, but next time a little more shoot to kill plz, http://csswizardry.com/2012/07/shoot-to-kill-css-selector-intent/
**/
.gesture-intro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-perspective: 1000;
  display: none;
  z-index: 0;
  background-color: rgba(52, 168, 40, 0.4);
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s ease;
}
.gesture-intro .intro-element {
  opacity: 0.8;
  width: 80%;
  height: 80%;
  margin-left: 13%;
  margin-right: 7%;
  margin-top: 5%;
  margin-bottom: 15%;
  -webkit-transform-style: preserve-3d;
  display: none;
}
#slide-tutorial {
  display: none;
}
#slide-tutorial .welcomebox-close {
  display: none;
}
/*
 * Animations
*/
@-webkit-keyframes Airplane {
  0% {
    -webkit-transform: rotateX(45deg) rotateZ(20deg);
  }
  12.5% {
    -webkit-transform: rotateX(90deg) rotateZ(20deg);
  }
  25% {
    -webkit-transform: rotateX(70deg) rotateZ(20deg);
  }
  37.5% {
    -webkit-transform: rotateX(70deg) rotateY(25deg) rotateZ(20deg);
  }
  50% {
    -webkit-transform: rotateX(70deg) rotateY(-25deg) rotateZ(20deg);
  }
  62.5% {
    -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(20deg);
  }
  75% {
    -webkit-transform: rotateX(70deg) rotateY(0deg) translateZ(-100px) rotateZ(20deg);
  }
  87.5% {
    -webkit-transform: rotateX(70deg) rotateY(0deg) translateZ(100px) rotateZ(20deg);
  }
  100% {
    -webkit-transform: rotateX(70deg) rotateY(0deg) translateZ(0px) rotateZ(20deg);
  }
}
@-webkit-keyframes Pan {
  0% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    /* IE 9 */
    -webkit-transform: translate(0, 0);
    /* Opera, Chrome, and Safari */
  }
  12.5% {
    transform: translate(-25%, 0);
    -ms-transform: translate(-25%, 0);
    /* IE 9 */
    -webkit-transform: translate(-25%, 0);
    /* Opera, Chrome, and Safari */
  }
  25% {
    transform: translate(25%, 0);
    -ms-transform: translate(25%, 0);
    /* IE 9 */
    -webkit-transform: translate(25%, 0);
    /* Opera, Chrome, and Safari */
  }
  50% {
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    /* IE 9 */
    -webkit-transform: translate(0%, 0%);
    /* Opera, Chrome, and Safari */
  }
  62.5% {
    transform: translate(0%, 25%);
    -ms-transform: translate(0%, 25%);
    /* IE 9 */
    -webkit-transform: translate(0%, 25%);
    /* Opera, Chrome, and Safari */
  }
  75% {
    transform: translate(0%, -25%);
    -ms-transform: translate(0%, -25%);
    /* IE 9 */
    -webkit-transform: translate(0%, -25%);
    /* Opera, Chrome, and Safari */
  }
  100% {
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    /* IE 9 */
    -webkit-transform: translate(0%, 0%);
    /* Opera, Chrome, and Safari */
  }
}
@-webkit-keyframes Zoom {
  0% {
    -webkit-transform: translateZ(500px);
    /* Chrome, Safari, Opera */
    transform: translateZ(500px);
  }
  50% {
    -webkit-transform: translateZ(-1000px);
    /* Chrome, Safari, Opera */
    transform: translateZ(-1000px);
  }
  100% {
    -webkit-transform: translateZ(500px);
    /* Chrome, Safari, Opera */
    transform: translateZ(500px);
  }
}
@-webkit-keyframes Rotate {
  0% {
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    /* IE 9 */
    -webkit-transform: rotate(-25deg);
    /* Opera, Chrome, and Safari */
    transform-origin: 50% 90%;
    -ms-transform-origin: 50% 90%;
    /* IE 9 */
    -webkit-transform-origin: 50% 90%;
    /* Chrome, Safari, Opera */
  }
  50% {
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    /* IE 9 */
    -webkit-transform: rotate(25deg);
    /* Opera, Chrome, and Safari */
    transform-origin: 50% 90%;
    -ms-transform-origin: 50% 90%;
    /* IE 9 */
    -webkit-transform-origin: 50% 90%;
    /* Chrome, Safari, Opera */
  }
  100% {
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    /* IE 9 */
    -webkit-transform: rotate(-25deg);
    /* Opera, Chrome, and Safari */
    transform-origin: 50% 90%;
    -ms-transform-origin: 50% 90%;
    /* IE 9 */
    -webkit-transform-origin: 50% 90%;
    /* Chrome, Safari, Opera */
  }
}
