@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bold_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bolditalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_italic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_light_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_medium_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_mediumitalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_regular_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_thin_macroman/stylesheet.css";
/*
 * Adding Fonts
*/
/*
 * Less includes
*/
/* Black and White */
/* Sunrise */
/* UI colors */
/* globals @White, @Black */
/*
 * Font names
 Bold: 					clear_sansbold
 BoldItalic:		clear_sansbold_italic
 Italic: 				clear_sansitalic
 Light:					clear_sans_lightregular
 Medium:				clear_sans_mediumregular
 MediumItalic:	clear_sans_mediumitalic
 Regular:				clear_sansregular
 Thin:					clear_sans_thinregular
*/
/*
 * Basic setting
*/
html {
  font-size: 100%;
  line-height: 1.5rem;
}
/*
 * Typographic mixins
*/
/*
 * Typographic settings
*/
.t_H1 {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 2.25rem;
  letter-spacing: -0.03em;
}
.t_H2 {
  color: #0a0a0a;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1.875rem;
}
.t_H3 {
  color: #0a0a0a;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1.5rem;
}
.t_H4 {
  color: #0a0a0a;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1.25rem;
}
.t_Introduction {
  color: #f5f5f5;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1.125rem;
}
.t_Body {
  color: #0a0a0a;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
.t_Button {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
}
/**
 * Apply a natural box layout model to all elements
**/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: sans-serif;
}
#cesiumGeocoder {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
#baseLayerContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#app {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1080px;
  pointer-events: none;
}
/*
 * Presentation layer
*/
.p-welcomebox {
  width: 510px;
  padding: 15px;
  background-color: rgba(92, 40, 73, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.p-title {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 2.25rem;
  letter-spacing: -0.03em;
  text-align: center;
}
.p-paragraph {
  color: #f5f5f5;
  font-family: "clear_sansregular", "Helvetica Neue", Verdana, Arial;
  font-size: 1.125rem;
}
.p-btn {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px 0px;
  text-align: center;
  width: 155px;
  text-transform: uppercase;
}
.p-btn-succ {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px 0px;
  text-align: center;
  width: 155px;
  text-transform: uppercase;
  background-color: #34a828;
}
.p-btn-erro {
  color: #f5f5f5;
  font-family: "clear_sansbold", "Helvetica Neue", Verdana, Arial;
  font-size: 1rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px 0px;
  text-align: center;
  width: 155px;
  text-transform: uppercase;
  background-color: #5b033b;
}
/*
 * Layout layer
*/
.l-welcomebox {
  position: relative;
  top: 50px;
}
.l-title {
  margin-bottom: 20px;
}
.l-paragraph {
  margin-bottom: 20px;
}
.l-welcome-btn {
  text-align: center;
}
.l-btn {
  margin-right: 10px;
}
.l-btn:last-child {
  margin-right: 0px;
}
