/*
 * Adding Fonts
*/
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bold_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bolditalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_italic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_light_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_medium_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_mediumitalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_regular_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_thin_macroman/stylesheet.css";

/*
 * Less includes
*/
@import "less_includes/colors.less";
@import "less_includes/typography.less";
@import "less_includes/mixins.less";

/**
 * Apply a natural box layout model to all elements
**/
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


#cesiumContainer {
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
    position: absolute;
}

body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 100%;
}

// visualizer
#app {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1980px;
    pointer-events: none;
}

/*
 * Presentation layer
*/
.p-ui-element {
    background-color: fade(@c_SunrisePurple, 85%);
    .m_BorderRadius(1px);
}
.p-welcomebox {
    width: 510px;
    padding: 15px;
    height: 250px;
    .p-ui-element();
}
.p-title {
    .t_H1();
    text-align: center;
}
.p-paragraph {
    .t_Introduction();
}
// Buttons
.p-btn {
    .t_Button();
    .m_BorderRadius(1px);
    padding: 10px 0px;
    text-align: center;
    width: 155px;
    text-transform: uppercase;
}
.p-btn-succ {
    .p-btn();
    background-color: @c_Success;
}
.p-btn-erro {
    .p-btn();
    background-color: @c_Error;
}

.p-search, .p-layer-chooser {
    .p-ui-element();
    padding: 10px;
    .t_Body();
}

.p-topography {
    .p-ui-element();
    padding: 0px 10px 10px 10px;
    .t_Body();
    .m_Shadow(0px, 3px, 0px, 0px, @c_Black);
}
.p-btn-topography {
    .m_Transition(all, 0.3s, ease);
}
.topography-inactive:hover {
    background-color: @c_Success;
}
.topography-active:hover {
    background-color: @c_Error;
}
.p-search {
    z-index: 3;
}
.p-layer-chooser {
    z-index: 1;
    color: @c_White;
}
.cesium-baseLayerPicker-item:first-child {
    &:before {
        content: " ";
        text-align: center;
        float: none;
        width: 100%;
        display: block;
    }

}
.cesium-baseLayerPicker-item {
    left: 0;
    width: 100%;
    float: none;
    margin-bottom: 10px;
    padding: 10px;
    .m_Transition(all, 0.3s, ease);
    &:hover {
        cursor: pointer;
        background-color: @c_Success;
        &:before {
            background-color: green;
        }
    }
}
.cesium-baseLayerPicker-item:after {
      clear: both;
      content: '.';
      display: block;
      visibility: hidden;
      height: 0;
}
.cesium-baseLayerPicker-itemIcon {
    display: block;
    float: left;
}

.cesium-baseLayerPicker-itemLabel {
    float: none;
}

.cesium-geocoder-input {
    padding: 10px 5px 10px 40px;
    width: 100%;
    .t_Input();
}
/*
 * Layout layer
*/
.l-welcomebox {
    position: relative;
    top: 50px;
}

.l-title {
    margin-bottom: 20px;
}

.l-paragraph {
    margin-bottom: 20px;
}

.l-welcome-btn {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.l-btn {
    margin-right: 10px;
}
.l-btn:last-child {
    margin-right: 0px;
}

.l-navigation {
    position: absolute;
    right: 0;
    width: 300px;
}
.l-layer-chooser {
}
.l-search {
    margin-top: 86px;
}

.l-topgraphy {
    text-align: center;
}

#cesiumGeocoder {
    top: 0;
    right: 0;
}

#baseLayerContainer {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 25px;
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 78px;
        margin-bottom: 50px;
        img {
            display: block;
            margin-right: 0;

        }
    }
    &:before {
        display: block;
        width: 100%;
        text-align: center;
        content: "Current layer: ";
        margin-bottom: 5px;
    }
    &:after {
        display: block;
        width: 100%;
        text-align: center;
        content: "Select layer: ";
        margin-bottom: 5px;
        position: absolute;
        margin-top: -300px;
        margin-left: -5px;
    }
}

.cesium-geocoder-searchButton {
    position: absolute;
    margin-top: -37px;
    margin-left: 2px;
}

#menu-toggler {
    width: 82px;
    height: 82px;
    .p-ui-element();
    padding: 20px 10px;
    .m_Transition(all, 0.3s, ease);
    .t_Body();
    .m_Shadow(0px, 3px, 0px, 0px, @c_Black);
    &:hover {
        cursor: pointer;
        background-color: @c_SunriseDarkPink;
    }
    position: absolute;
    right: 0;
}

.menu-stripe {
    background-color: @c_White;
    display: block;
    height: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    .m_BorderRadius(2px);
}



/**
 * Gesture introduction tutorial
**/
.gesture-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-perspective: 1000;
    display: none;

    .intro-element {
        background-color: white;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        display: none;
    }

    #intro-pan {
        background-color: green;
    }
    #intro-zoom {
        -webkit-animation: Zoom 10s infinite;
        background-color: blue;
    }
    #intro-rotate {
        background-color: yellow;
    }
    #intro-airplane {
        background-color: orange;
    }
}

// Hide the tutorial slide in the welcome box
#slide-tutorial {
    display: none;

    .welcomebox-close {
        display: none;
    }
}

@-webkit-keyframes Zoom
{
    0%   {
        -webkit-transform: translateZ(-2000px);
    }
    12.5%  {
        -webkit-transform: translateZ(-1000px);
    }
    25%  {
        -webkit-transform: translateZ(-1000px);
    }
    37.5% {
        -webkit-transform: translateZ(-50px);
    }
    50%   {
        -webkit-transform: translateZ(-50px);
    }
    62.5%  {
        -webkit-transform: translateZ(-1000px);
    }
    75%  {
        -webkit-transform: translateZ(-1000px);
    }
    87.5% {
        -webkit-transform: translateZ(-2000px);
    }
    100% {
        -webkit-transform: translateZ(-2000px);
    }
}