/*
 * Adding Fonts
*/
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bold_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_bolditalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_italic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_light_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_medium_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_mediumitalic_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_regular_macroman/stylesheet.css";
@import "../../font/clear-sans-fontfacekit/web_fonts/clearsans_thin_macroman/stylesheet.css";

/*
 * Less includes
*/
@import "less_includes/colors.less";
@import "less_includes/typography.less";
@import "less_includes/mixins.less";

/**
 * Apply a natural box layout model to all elements
**/
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}

#cesiumGeocoder {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

#baseLayerContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

// visualizer
#app {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1080px;
    pointer-events: none;
}

/*
 * Presentation layer
*/
.p-welcomebox {
    width: 510px;
    padding: 15px;
    background-color: fade(@c_SunrisePurple, 85%);
    .m_BorderRadius(1px);
}
.p-title {
    .t_H1();
    text-align: center;
}
.p-paragraph {
    .t_Introduction();
}
// Buttons
.p-btn {
    .t_Button();
    .m_BorderRadius(1px);
    padding: 10px 0px;
    text-align: center;
    width: 155px;
    text-transform: uppercase;
}
.p-btn-succ {
    .p-btn();
    background-color: @c_Success;
}
.p-btn-erro {
    .p-btn();
    background-color: @c_Error;
}
/*
 * Layout layer
*/
.l-welcomebox {
    position: relative;
    top: 50px;
}

.l-title {
    margin-bottom: 20px;
}

.l-paragraph {
    margin-bottom: 20px;
}

.l-welcome-btn {
    text-align: center;
}

.l-btn {
    margin-right: 10px;
}
.l-btn:last-child {
    margin-right: 0px;
}
